@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e2431;
}

h1, h2, h3, p, span, button {
  font-family: Space Mono, sans-serif;
}

p {
  font-size: 12px;
}

#player-container {
  height: 100vh;
  margin: 0 auto;
}

.player {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.time-display {
  color: white;
  font-size: 50px;
}

#player-actions{
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
  border: 2px solid #ffa41b;
  background-color: transparent;
  color: white;
}

button:hover, .active {
  background-color: #ffa41b;
  transition: all .5s ease;
}

.active .fas {
  color: #0e2431;
}
